{{>header}}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <h1>About isbn.net.in</h1>
      <p>
        History of the project is at
        <a href="http://swaroopch.com/tag/isbnnetin/">http://swaroopch.com/tag/isbnnetin/</a>.
      </p>
      <p>
        The source code of this website is available at
        <a href="https://github.com/swaroopch/isbnnetinclj2">https://github.com/swaroopch/isbnnetinclj2</a>,
        so you can read and learn how it works.
      </p>
      <p>
        Tools used:
      </p>
      <ul>
        <li>Clojure</li>
        <li><a href="https://www.taoensso.com/clojure-libraries">Peter Taoussanis's Clojure libraries</a></li>
        <li><a href="https://github.com/cgrand/enlive/wiki">Enlive</a></li>
        <li>AWS DynamoDB</li>
        <li>Redis</li>
        <li>Twitter Bootstrap</li>
        <li>Heroku</li>
        <li><a href="https://github.com/swaroopch/isbnnetinclj2/blob/master/project.clj">And more...</a></li>
      </ul>
    </div>
  </div>
</div>

{{>footer}}