{{>header}}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset2">
      <dl>
        {{#isbn}}
        <dt>ISBN</dt>
        <dd>{{isbn}}</dd>
        {{/isbn}}

        {{#info}}
          {{#title}}
            <dt>Title</dt>
            <dd>{{title}}</dd>
          {{/title}}

          {{#author}}
            <dt>Author</dt>
            <dd>{{author}}</dd>
          {{/author}}

          {{#publisher}}
            <dt>Publisher</dt>
            <dd>{{publisher}}</dd>
          {{/publisher}}

          {{#year}}
            <dt>Year</dt>
            <dd>{{year}}</dd>
          {{/year}}

          {{#binding}}
            <dt>Binding</dt>
            <dd>{{binding}}</dd>
          {{/binding}}
        {{/info}}
      </dl>
      {{^price}}
      <p><em>Fetching info and prices... page will refresh automatically.</em></p>
      <script type="text/javascript">
      window.onload = function() {
        setTimeout("window.location.reload(true)", 20 * 1000);
      };
      </script>
      {{/price}}
    </div>
    <div class="span4">
      {{#info}}
        <p>
          {{#image}}
            {{#imageLink}}
              <a href="{{imageLink}}"
                ><img src="{{image}}"
                alt="{{title}}"
                title="Image {{#imageSource}}from {{imageSource}}{{/imageSource}} {{#title}}for {{title}}{{/title}}"/></a>
            {{/imageLink}}
            {{^imageLink}}
            <img src="{{image}}"
            alt="{{title}}"
            title="Image {{#imageSource}}from {{imageSource}}{{/imageSource}} for {{#title}}{{title}}{{/title}}"/>
            {{/imageLink}}
            {{/image}}
        </p>
      {{/info}}
    </div>
  </div>
</div>

{{#price}}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset2">
      <h3>Prices</h3>
      <table class="table table-bordered table-hover">
          <tr>
            {{#url}}
              <th><a href="{{url}}">{{name}}</a></th>
            {{/url}}
            {{^url}}
              <th>{{name}}</th>
            {{/url}}
          <td>{{amount}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{/price}}

{{>footer}}
