{{>header}}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <dl>
        <dt>ISBN</dt>
        <dd>{{isbn}}</dd>
      </dl>
    </div>
  </div>
</div>

{{>footer}}
